# Ignore virtual environment
venv/

# Ignore node_modules for React projects
node_modules/

# Ignore compiled files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore database files
*.db

# Ignore system files
.DS_Store